/*  Global */
html {
  overflow: hidden;
  height: 100%;
}

body {
  background: #000;
  margin: 0;
  overflow-x: hidden;
}

/* Horizontal scroller content */

.horizontal-scroller {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3 ease-in-out;
}

.horizontal-scroller__list {
  height: auto;
  padding: 0px;
  width: 100%;
  white-space: nowrap;
  list-style: none;
}

.horizontal-scroller__item {
  width: 36%;
  margin-right: -4px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  height: 500px;
  background: url("img/placeholder.jpg");
  background-size: cover;
}

/* Horizontal scroller navigation */
.horizontal-scroller__nav {
  --nav-color: #3B3B3B;
  height: 5px;
  position: absolute;
  bottom: 20px;
  border-left: 1px solid;
  border-right: 1px solid;
  overflow: hidden;
  border-right-color: var(--nav-color);
  border-left-color: var(--nav-color);
  margin-left: 32.5%; 
  width: 35%;
}

.horizontal-scroller__indicator {
  height: 5px;
  background: rgba(81, 82, 83, 0.4);
  margin-bottom: 5px;
  width: 5%;
}
